<h1> <%= @employee.first_name %> <%= @employee.last_name %></h1>
<h3>Title: <%= @employee.title %></h3>
<h3>Alias: <%= @employee.alias %></h3>
<h3>Office: <%= @employee.office %></h3>
<h3>Their dog/owner/overlord is: <%= link_to @employee.dog.name, @employee.dog %> </h3>
<% if @employee.img_url %>
    <img src='<%= @employee.img_url %>'/>
<% end %>

<br><br>

<%= link_to "Edit #{@employee.last_name} >", edit_employee_path(@employee) %>
<%# <%= button_to "Back to list of employees", employees_path, method:'GET' %>

<br><br>

<%= link_to "< Back", employees_path %>